body{
  background-color: #FFFBF5;
}

h1{
  text-align: center;
  color: #0A2647;
  font-size: 50px;
}

.content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.career{
  font-size: 25px;
  color: #0A2647;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


p{
  font-size: 20px;
}

h6,h4{
  font-size: 25px;
  color: #0A2647;
  margin: 0;
}

li{
  font-size: 20px;
}